*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #101820;
    font-size: 20px;
    text-align: center;
}
.title{

    color: #FF1493;
    text-shadow: 0 0 10px #00FFFF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
    font-style: oblique;
    padding-top: 10vh;
    padding-bottom: 3rem;
}
.container {
    display: flex;
    justify-content: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 100px));
    gap:1.25rem;
    place-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.box{
    width : 15vmin;
    height: 15vmin;
    border-radius: 0.625rem;
    border: 0.125rem solid rgb(82, 78, 78);
    background-color: #00BFFF;
    color: #944363;
    font-size: 4rem;
    font-weight: bold;
    box-shadow: 0 0 0.3125rem 0.3125rem #096879;
}
.box:hover{
    background-color: #00FFFF;
    box-shadow: 0 0 0.625rem 0.3125rem #FF4500;
}
.restart{
    height: 5vmin;
    width: 20vmin;
    border-radius: 0.625rem;
    background-color: #39FF14;
    color: #101820;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    
}
.restart:hover{
    background-color: #7FFF00;
}
.winners {
    font-size: 4rem;
    text-decoration: underline;
    animation: winner 1s ease-in-out infinite;
    margin-top: 20vh;
    color: #FF1493;
    text-shadow: 0 0 10px #00FFFF;
  }
  
  @keyframes winner {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
.hide{
    display: none;
}
.newGame{
    height: 3.125rem;
    width: 12.5rem;
    border-radius: 0.625rem;
    background-color: #39FF14;
    color: #101820;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2vmin;
    animation: winner 1s ease-in-out infinite;
    margin-bottom: 70vh
}
.newGame:hover{
    animation: none;
    opacity: 1;
    background-color: #7FFF00;
}  

@media (min-width: 768px) and (max-width: 1023px) {
   
    .box {
        width: 12vmin;
        height: 12vmin;
        font-size: 3rem;
        
    }

    .restart, .newGame {
        height: 6vmin;
        width: 25vmin;
        font-size: 1.2rem;
        animation: none;
    }

    .winners {
        font-size: 2.4rem;
        margin-bottom:5vh;
    }
}

@media (max-width: 480px) {
    .title{
        font-size: 8vw;
    }
    .game{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .box{
        width: 14vmin;
        height: 14vmin;
        font-size: 1.5rem;
        gap: 
    }
    .restart{
        width: 40vmin;
        height: 8vmin;
        font-size: 1rem;
    }
    .newGame{
        width: 40vmin;
        height: 8vmin;
        font-size: 0.75rem;
        animation: none;
    }
    .winners{
        font-size: 1.5rem;
        margin-bottom: 5vh;
    }
}
